<footer class="site-footer h-card">
  <data class="u-url" href="/"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="social-media-list">
          <li>
            <img class="svg-icon" src="/assets/icon-mail.svg" loading="lazy" alt="">
            <a href="mailto:wangshenghao1993@gmail.com">wangshenghao1993@gmail.com</a>
          </li>
          <li>
            <a href="https://github.com/shenghaowang"><svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#github"></use></svg> <span class="username">shenghaowang</span></a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/shenghao-wang/"><svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#linkedin"></use></svg> <span class="username">shenghao-wang</span></a>
          </li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <p>Personal website and blog of Wang Shenghao.</p>
      </div>
    </div>

  </div>

</footer>
